.circle {
    position: relative;
  }
  
  .text-box {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: circleEffect 8s linear infinite;
  }
  
  @keyframes circleEffect {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .text-box span {
    position: absolute;
    top: -30px;
    left: 50%;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transform-origin: 0 180px;
    color: #fff;
  }
  